*, html, body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-family: 'Gilroy-Medium', sans-serif;
}
.background-order{
	padding: 1px 0 0 0;
	background: url(../img/bg.png) no-repeat;
	background-position: center;
	background-size: cover;
}
.conteiner{
	width: 1140px;
	margin: auto;
}
.header__top{
	margin-top: 35px;
	margin-bottom: 38px;
	display: flex;
	justify-content: space-between;
}
.header__title {
	display: flex;
}
.title__logo{
	&::after{
		content: '';
		display: inline-block;
		width: 2px;
		height: 50px;
		background-color: #89AFEF;
		margin: 0 25px 0 30px;
	}
	img{
		height: 52px;
	}
}
.title__text{
	font-weight: 500;
	font-size: 14px;
	color: #5D5D5D;
}
.header__messengers{
	ul{
		display: flex;
	}
	a{
		display: inline-block;
   	border-radius: 50%;
   	background-color: #2DD038;
	}
	li{
		margin-right: 18px;
		&:nth-child(1){
			a{
				padding: 12px 12px 10px 13px;
				background-color: #2DD038;
				box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.5);
			}
		}
		&:nth-child(2){
			a{
				padding: 12px 12px 10px 13px;
				background-color: #7B519D;
				box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.5);
			}
		}
		&:nth-child(3){
			a{
				padding: 15px 15px 12px 12px;
				background-color: #5BBAF0;
				box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
			}
		}
	}
}
.header__connection{
	display: flex;
}
.connection__links{
	text-align: right;
	margin-right: 35px;
}
.connection__number{
	a{
		font-family: 'Gilroy-Bold', sans-serif;
		font-weight: bold;
		font-size: 20px;
		color: #333333;
	}
	&::before{
		content: '';
		display: inline-block;
		margin-right: 10px;
		width: 16px;
		height: 16px;
		background: url(../img/phone.png) no-repeat;
	}
}
.connection__email{
	a{
		font-weight: 500;
		font-size: 17px;
		color: #333333;
	}
	&::before{
		content: '';
		display: inline-block;
		margin-right: 10px;
		width: 16px;
		height: 12px;
		background: url(../img/email.png) no-repeat;  
	}
}
.btn{
	display: inline-block;
	padding: 11px 27px;
	font-weight: 600;
	font-size: 18px;
	background: linear-gradient(90deg, #F6BD60 0%, #EB9355 80.38%, #E88952 100%);
	border-radius: 3px;
	color: white;
}
.header__bottom{
	margin-bottom: 30px;
}
.header__navigation{
	ul{
		display: flex;
    	justify-content: space-between;
	}
	a{
		font-weight: 500;
		font-size: 16px;
		text-transform: uppercase;
		color: #333333;
	}
}
.order__info{
	margin-top: 100px;
}
.order__line{
	display: flex;
}
.order__text{
	font-family: 'Gilroy-ExtraBold', sans-serif;
	font-weight: 900;
	font-size: 40px;
	margin-bottom: 38px;
	z-index: 20;
}
.order__price{
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 35px;
	span{
		font-family: 'Gilroy-ExtraBold', sans-serif;
		font-weight: 800;
		font-size: 24px;
	}
}
.order__btn{
	position: relative;
	a{
		font-family: 'Gilroy-Bold', sans-serif;
		color: white;
		background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
		box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
		border-radius: 3px;
		padding: 16px 65px;
		font-size: 16px;
		text-transform: uppercase;
	}
} 
.order__engineer{
	margin-bottom: -9px;
	background: url(../img/engineer-back.png) no-repeat;
   background-position: 10px 0;
}
.documents{
	background: #fff;
	padding-top: 50px;
}
.title{
	font-family: 'Gilroy-ExtraBold', sans-serif;
	font-weight: 800;
	font-size: 36px;
}
.documents__title{
	text-align: center;
	margin-bottom: 39px;
}
.documents__list{
	ul{
		display: flex;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 70px;
		}
	}
	li{
		margin-right: 30px;
		&:last-child{
			margin-right: 0;
		}
	}
}
.documents__box{
	display: inline-block;
	background-color: #fff;
	width: 262px;
	padding: 32px 30px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.067);
	height: 100%;
	&:hover{
		box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
	}
}
.box__logo{
	text-align: center;
	margin-bottom: 17px;
}
.box__text{
	font-weight: 600;
	font-size: 19px;
	color: #333333;
	text-align: center;
}
.benefits{
	background: #F6F6F6;
	padding-top: 40px;
	padding-bottom: 60px;
}
.benefits__line{
	display: flex;
	justify-content: space-around; 
}
.benefits__block{
	text-align: center;
	width: 210px;
}
.benefits__logo{
	margin: auto;
	position: relative;
	background: white;
	border: 1px solid #E8E8E8;
	width: 98px;
	height: 98px;
	border-radius: 50%;
	margin-bottom: 15px;
	img{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
} 
.benefits__title{
	margin-bottom: 14px;
	h5{
		font-weight: 800;
    	font-size: 22px;
	}
}
.benefits__subtitle{
	p{
		font-weight: 500;
		font-size: 17px;
		line-height: 25px;
	}
}
.programs{
	padding-top: 50px;
}
.programs__title{
	text-align: center;
	margin-bottom: 45px;
}
.programs__line{
	ul{
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}
}
.programs__box{
	display: inline-block;
	padding: 26px 25px;
	padding-bottom: 20px;
	text-align: center;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.067);
	color: black;
	height: 100%;
}
.programs__conteiner{
	width: 215px;
} 
.programs__picture{
	margin-bottom: 17px;
} 
.programs__box-title{
	font-family: 'Gilroy-Bold', sans-serif;
	font-weight: 800;
	font-size: 17px;
}
.programs__check-group{
	font-weight: 500;
	font-size: 16px;
	color: #53B43B;
	position: relative;
	margin-bottom: 20px;
	span{
		&::before{
			display: inline-block;
			position: absolute;
			content: '';
			width: 13px;
			height: 13px;
			border-radius: 50%;
			border: 1px solid #53B43B;
			top: 2px;
			left: 28px;
			background: url(../img/check.svg) no-repeat;
			background-position: 2.5px center;
		}
	}
}
.programs__price{
	font-family: 'Gilroy-Bold', sans-serif;
	font-weight: 800;
	font-size: 22px;
}
.programs__points{
	margin-bottom: 70px;
	ul{
		display: flex;
    	justify-content: center;
	}
	li{
		width: 11px;
		height: 11px;
		background-color: #E4E4E4;
		border-radius: 50%;
		margin-right: 10px;
		&:last-child{
			background-color: white;
			width: 12px;
			height: 12px;
			border: 2px solid #84AAED;
			border-radius: 50%;
		}
	}
}
.certificates{
	background-color: #F6F6F6;
	padding-top: 45px;
	padding-bottom: 70px;
}
.certificates__title{
	text-align: center;
	margin-bottom: 50px;
}
.certificates__photo{
	ul{
		display: flex;
		justify-content: space-between;
	}
	li{
		background-color: #ECEBE9;
    	height: 300px;
		&:first-child{
			background-color: #F6F6F6;
			display: flex;
			align-items: center;
		}
		&:last-child{
			background-color: #F6F6F6;
			display: flex;
			align-items: center;
		}
	}
}
.photo-center{
	display: flex;
	align-items: center;
	img{
		height: 203px;
	}
}
.news-stock{
	padding-top: 55px;
}
.news-stock__title{
	text-align: center;
	margin-bottom: 25px;
}
.news-stock__line{
	margin-bottom: 40px;
	ul{
		display: flex;
    	justify-content: space-between;
	}
}
.news-stock__stock{
	padding-left: 30px;
	padding-top: 40px;
	display: inline-block;
	background: #FAFAFB;
	background: url(../img/news-stock__right-line.png) no-repeat;
	background-position: right;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
	width: 570px;
}
.stock__line{
	display: flex;
	margin-bottom: 60px;
}
.stock__info{
	color: black;
	width: 270px;
}
.stock__title{
	font-family: 'Gilroy-Bold';
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 25px;
	span{
		color: #86AEF0;
	}
}
.stock__subtitle{
	line-height: 24px;
	font-weight: 500;
	font-size: 16px;
}
.stock__photo{
	img{
		margin-right: -15px;
	}
}
.news-stock__news{
	display: inline-block;
	color: black;
	padding: 27px 23px 0;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
}
.news__conteiner{
	width: 216px;
}
.news__photo{
	margin-bottom: 10px;
}
.news__date{
	margin-bottom: 9px;
	span{
		color: #ABABAB;
		font-weight: 500;
		font-size: 14px;
	}
}
.news__text{
	margin-bottom: 16px;
}
.news__title{
	h5{
		font-weight: bold;
		font-size: 19px;
		font-family: 'Gilroy-Bold';
		margin-bottom: 8px;
	}
}
.news__subtitle{
	font-weight: 500;
	font-size: 16px;
}
.news-stock__btn{
	margin-bottom: 70px;
	text-align: center;
}
.news-stock__btn{
	a{
		display: inline-block;
		border: 2px solid #6D81CC;
		border-radius: 3px;
		padding: 14px 60px;
		font-weight: bold;
		font-size: 16px;
		color: #6D81CC;
	}
}
.footer{
	background: #333333;
	color: white;
	padding-top: 50px;
	width: 100%;
	a{
		color: white;
		font-weight: normal;
		font-size: 14px;
		}
}
.footer__links{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.footer__column-width{
	width: 360px;
}
.footer__links{
	h3{
		font-family: 'Gilroy-Bold';
		font-weight: bold;
		font-size: 22px;
		margin-bottom: 24px;
	}
	li{
		margin-bottom: 14px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.footer__messengers {
	li{
		&:nth-child(1){
			a{
				background: url(../img/telegram.svg) no-repeat;
				background-size: contain;
				line-height: 20px;
				font-size: 17px;
				padding-left: 35px;
			}
		}
		&:nth-child(2){
			a{
				background: url(../img/viber.svg) no-repeat;
				background-size: contain;
				line-height: 20px;
				font-size: 17px;
				padding-left: 35px;
			}
		}
		&:nth-child(3){
			a{
				background: url(../img/whatsapp.svg) no-repeat;
				background-size: contain;
				line-height: 20px;
				font-size: 17px;
				padding-left: 35px; 
			}
		}
	}
}
.footer__contacts{
	margin: 40px 0;
	li{
		&:nth-child(1){
			a{
				padding-left: 30px;
				font-weight: 500;
				font-size: 19px;
				background: url(../img/path.svg) no-repeat;
			}
		}
		&:nth-child(2){
			a{
				padding-left: 30px;
				font-weight: 500;
				font-size: 17px;
				background: url(../img/shape.svg) no-repeat;
			}
		}
	}
}
.footer__btn{
	display: inline-block;
	margin-bottom: 70px;
	a{
		display: inline-block;
		padding: 11px 40px;
		font-weight: 600;
		font-size: 18px;
		background: linear-gradient(90deg, #F6BD60 0%, #EB9355 80.38%, #E88952 100%);
		border-radius: 3px;
		color: white;
	}
}
.footer__copirigh{
	display: block;
	p{
		color: #565656;
    display: block;
    border-top: 2px solid #565656;
    text-align: center;
    padding: 20px 0;
	}
}