*, html, body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrapper{
	background: url(../img/background_body.png);
}
.warpper-container{
	max-width: 1357px;
	margin: auto;
}
.header {
	padding-top: 20px;
	width: 100%;
	position: fixed;
	left: 0;
	z-index: 10000;
	// .header__line

	&__line {
		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	// .header__logo

	&__logo {
		font-size: 35px;
		font-weight: 700;
		
		&::before{
			content: '';
			height: 5px;
			width: 25px;
			display: inline-block;
			background-color: #d91f1f;
			margin-right: 5px;
			opacity: 0.45;
		}
		&::after{
			content: '';
			height: 5px;
			width: 25px;
			display: inline-block;
			background-color: #d91f1f;
			margin-left: 5px;
			opacity: 0.45;
		}
	}

	// .header__menu

	&__menu {
		ul{
			display: flex;
			li{
				margin-right: 48px;
				&:last-child{
					margin-right: 0;
				}
				a{
					color: black;
					padding: 5px;
					font-size: 20px;
					font-weight: 700;
				}
			}
		}
	}
}
.container{
	max-width: 1285px;
	margin: auto;
}
.main-screen {
	position: relative;
	height: 100vh;
	background: url(../img/main_screen_bg.png);
	display: flex;
	align-items: center;
	justify-content: center;
	// .main-screen__bg

	&__bg {
		width: 480px;
		height: 800px;
		background: url(../img/main_screen_arrows.png) center 150px/ 290px no-repeat, url(../img/main_screen__beetroot.png) right/ 250px no-repeat, url(../img/main_screen_ellipse.png) 1px 150px/ 300px no-repeat;
		opacity: 0.5;
	}
	&__btn{
		position: absolute;
		bottom: 50px;
		opacity: 0.5;
	}
}
.our-story {
	background: rgb(241, 241, 241);

	// .our-story__line

	&__line {
		display: flex;
	}

	// .our-story__left

	&__left {
		width: 546px;
		padding-top: 200px;
		text-align: center;
	}

	// .our-story__title

	&__title {
		font-size: 50px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	&__title-redline{
		display: inline-block;
		width: 36px;
		height: 8px;
		opacity: 0.45;
		background-color: #d91f1f;
		text-align: center;
		margin-bottom: 20px;
	}
	// .our-story__text

	&__text {
		max-width: 500px;
		margin: auto;
		font-size: 18px;
		font-weight: 700;
	}

	// .our-story__right

	&__right {
		position: relative;
		background: white;
		max-width: 811px;
		img{
			object-fit: cover;
			object-position: center;
		}
	}
	&__white{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.103);
		z-index: 100;
	}
}
.wrapper {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;


    img {
        width: 100%;
    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
		  background: rgb(241, 241, 241);
        
            img {
                width: 120px;
            }
    }

    .d-flex {
      display: flex;
      width: 100%;
    }
    hr {
        width: 40px;
        height: 8px;
        background-color: #d91f1f6c;
    }
    p {
        width: 80%;
        text-align: center;
    }
    .icon {
        width: 120px;
    }

            .local {
					background: rgb(241, 241, 241);
               display: flex;
               flex-direction: row-reverse;
            }

            .footer {
                padding: 140px 0 90px 40px;
                background: url(../img/fresh_bg.png);
					 background-size: cover;
                    .logo {
                        width: auto;
                        padding-bottom: 100px;
                    }
                    .foter-text {
                        .text {
                            align-items: flex-start;
                            width: 20%;

                            span:nth-last-child(1) {
                                padding-bottom: 10px;
                            }
                        }

                        .social-icon {
                            justify-content: flex-end;
                            align-items: flex-end;

                            
                                li {
                                    padding-right: 20px;
                                    list-style: none;
                                }
                         
                        }
                        
                    }

            }
}
